<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Book</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{#if message}}
    {{>errorNotification}}
    {{/if}}

    <div class="navigation">
        <nav>
            <img src="/images/logo.png">
            {{#if validUser}}
            <p style="color:white;">Welcome, {{loggedUser}}!</p>
            {{else}}
            <p style="color:white;">Welcome, Guest!</p>
            {{/if}}
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="/">Home</a></li>
                <li><a href="/catalog">All Courses</a></li>
                <!--For loggin users-->
                {{#if validUser}}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/create">Create Course Offers</a></li>
                <li><a href="/logout">Logout</a></li>
                <!--For guest users-->
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>

    <main>

        {{{body}}}

    </main>

    <footer>Back-End 2023</footer>
</body>

</html>